/* Nav Bar Layout */
#headerNav{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 5vh;
    background-color: white;
}
nav{
    display: flex;
    align-items: stretch;
}
.desktopList{
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
}
#headerNav li{
    padding: 5px;
    display: block;
}
#headerNav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 5px;
}
#headerNav li #logout{
    color: #4ab3fa;
    text-decoration: none;
    display: block;
    padding: 15px 5px;
}
#headerNav li:hover, #headerNav li a:hover, #headerNav li #logout:hover{
    color: grey;
    /*background-color: #2D3B45;*/
}

#barBtn {
    display: none;
}

#barBtn div{
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 5px;
    transition: all 0.5s ease;
}

.navActive {
    transform: translateX(0%);
}


/**END HEADER**/

/* Phone Screen */
@media (max-width: 1024px) {

    body{
        font-size: medium;
    }

    #navTitle{
        align-self: center;
        color: white;
        font-size: 30px;
    }

    #barBtn {
        margin-top: 1vh;
        margin-right: 1vw;
        display: inline;
    }

    #barBtn:hover > div {
        background-color: grey;
    }

    .desktopList {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 5vh;
        background-color: #002A5C;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }

    .navActive {
        transform: translateX(0%);
        transition: transform 0.3 ease-in;
    }

    .clicked .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .clicked .line2 {
        opacity: 0;
    }

    .clicked .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .content{
        padding:10px;
        padding-top: 200px;
    }
}
/* Desktop Screen */
@media (min-width: 1024px) {
    body{
        font-size: medium;
    }
    .content{
        padding:100px;
        padding-top:70px;
    }
}
